#app {
  height: 100vh;
  width: 100vw;
}

.primaryText {
  color: #8486a9;
}

.secondaryText {
  color: #fb6087;
}

.AppImageWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.AppBodyImage {
  background-image: url("./assets/bg-stars.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.AppFooterImage {
  background-image: url("./assets/pattern-hills.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25%;
  position: relative;
  width: 100%;
  z-index: -1;
}

.AppWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.AppHeading {
  margin: 4rem auto;
  letter-spacing: 0.1rem;
}

.AppBody {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.AppFooter {
  flex: 0 1 auto;
  height: 15%;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 575px) {
  .primaryText {
    font-size: 0.75rem;
  }
}
